.ks-button {
  &:hover {
    transition: all 0.2s linear;
  }
  &.ks-button--icon {
    display: flex;
    svg {
      min-width: 20px;
      height: auto;
    }
  }
  &.ks-button--icon-left {
    svg {
      margin-right: $spacing-xs;
    }
  }
  &.ks-button--icon-right {
    flex-direction: row-reverse;
    svg {
      margin-left: $spacing-xs;
    }
  }
}