.figma-slot-embed {
  position: relative;
  overflow: hidden;

  iframe {
    position: absolute;
    top: -50px; // 50px = figma left padding
    left: -50px; // 50px = figma top padding
    width: calc(100% + 100px); // 100px = figma left+right padding
    height: calc(100% + 148px); // 148px = figma top+bottom padding + bottom info bar
    pointer-events: none;
  }
}
