.ex-card {
  background-color: var(--color-layout-default-bg);
  border: var(--spacing-xxs) solid var(--color-layout-border);
  border-radius: var(--spacing-s);
  color: var(--color-text-default);
  font-size: 1rem;
  overflow: hidden;

  &_img {
    width: 100%;
  }

  &_body {
    padding: var(--spacing-m);
  }

  &_title {
    margin: 0;
    font-size: 1.2em;
  }

  &_subtitle {
    margin: var(--spacing-s) 0 0;
  }

  &_text {
    line-height: 1.4;
  }
}
