.ex-footer {
  background-color: var(--color-layout-default-bg);
  border-top: var(--spacing-xxs) solid var(--color-layout-border);
  text-align: center;
  padding: var(--spacing-l);
  
  p {
    margin: 0;
  }
}
